.sidbar{
    flex: 1;
    border-right: 0.5px solid lightgray;
    height: 100vw;
    background-color: white;


    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            font-size: 20px;
            color: #6439ff;
            font-weight: 800;
        }
    }

    hr{
        border: none;
        height: 0.5px;
        width: 100%;
        background-color: lightgray; 
    }

    .center{
        ul{
        padding-left: 10px;
        .title{
            font-size: 15px;
            font-weight: bold;
            color: #999;
            margin-top: 15px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        li{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            padding: 5px;
            transition: 0.5s;
            cursor: pointer;
            &:hover{
                background-color: #ece8ff;
            }

            .icon{
                font-size: 20px;
                color: #6439ff;

            }

            span{
                font-weight: bold;
                font-size: 13px;
                color: #888;
                
            }
        }
        }
    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        padding: 10px 15px;
        .colorOption{
            width: 20px;
            height: 20px;
            border: 1px solid #7451f8;
            cursor: pointer;
            border-radius: 3px;

            &:nth-child(1){
                background-color: white;
            }
            &:nth-child(2){
                background-color: #333;
            }
            &:nth-child(3){
                background-color: black;
            }
            &:nth-child(4){
                background-color: darkblue;
            }
        }
    }
}
